<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Copyrights</h2>
			</div>
		</div>
	</div>
</section>

<section class="page-section page-background padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="clearfix m-b-10">
					<h3>TERMS FOR USING TOASTMASTER INTERNATIONAL TRADEMARKS AND COPYRIGHTS</h3>
					<p>The Toastmasters International name is synonymous with high-quality communication and leadership development. Toastmasters’ trademarks are extremely valuable because they represent the standards of excellence and quality associated with Toastmasters. This page contains information about Toastmasters intellectual property and the rights associated with them.</p>
					
					<p>These Terms for Using Toastmaster International Trademarks and Copyrights ("Terms") apply to Toastmasters, the public and third parties ("User" and "Users") who are interested in using Toastmaster International's materials published on www.toastmasters.org, applications and features (collectively "the Site"). The Site is owned by Toastmasters International ("TOASTMASTERS," "us," "we"). Unless otherwise indicated, all of the content contained or displayed on this Site and any products and services (collectively "Site Content") are owned and/or controlled by Toastmasters International, its licensors, or third-party partners. Please also see the Toastmaster International Web site Conditions of Use ("Conditions of Use").</p>
				</div>
				<div class="clearfix m-b-10">
					<h3>TRADEMARKS</h3>
					<p>A trademark is a word, phrase, symbol, or design that identifies and distinguishes the source of the goods of one party from those of others. A service mark distinguishes the source of the services of one party from those of others. Below, the terms "trademark" and "marks" refer to both trademarks and service marks.</p>
					
					<p>The following is a non-exhaustive list of Toastmasters’ trademarks: "TOASTMASTERS," "THE TOASTMASTER," "TOASTMASTERS INTERNATIONAL," the TOASTMASTERS Emblem, among numerous others (collectively the "Toastmasters Marks"). This is not meant to be a comprehensive list and does not represent a waiver of any of Toastmasters rights in, or to, its intellectual property. The absence of a trademark from this list does not constitute a waiver of Toastmasters’ trademark or other rights. Toastmasters reserves all rights regarding its intellectual property.</p>
				</div>
				<div class="clearfix m-b-10">
					<h3>USE OF TOASTMASTERS INTERNATIONAL'S TRADEMARKS BY TOASTMASTERS</h3>
					<p>Toastmasters’ trademarks, service marks, trade names, and trade dress are valuable assets. In following Toastmasters’ policies and guidelines, you help Toastmasters to protect its valuable trademark rights for the benefit of all Toastmasters. The goodwill derived from using any part of a Toastmasters’ trademark exclusively inures to the benefit of and belongs to Toastmasters. Except for the limited rights permitted under these Terms, no other rights of any kind are granted here under.</p>
					<p>Toastmasters Clubs and other Toastmasters Entities may use the Toastmasters Marks in promotional and project materials as set forth in the&nbsp;Toastmaster’s <a href="https://www.toastmasters.org/Leadership-Central/Governing-Documents#Policy40IntellectualProperty458">Policy 4.0</a>, and&nbsp;Toastmaster’s <a href="https://www.toastmasters.org/Leadership-Central/Governing-Documents#Protocol40IntellectualProperty459">Protocol 4.0</a>.</p>
					<p>You may not use the Toastmasters Marks in a manner that would imply Toastmasters’ affiliation with or endorsement, sponsorship, or support of a third party product or service.</p>
					<p>If you would like to sell or give away merchandise, such as t-shirts and mugs, bearing the Toastmasters Marks, you must purchase such merchandise through the Toastmasters International&nbsp;Online Store&nbsp;or submit a&nbsp;<a href="~/link.aspx?_id=82F1F48679E447F2A2D7864209C5D532&amp;_z=z" target="_blank">Trademark Use Request</a>&nbsp;for a release to create materials. Such products must be in compliance with the <a href="~/media/B3C7B0A9EFB74E1BBBC1A7A0372A1657.ashx" target="_blank">Brand Guidelines</a> and&nbsp;Toastmaster’s Policy and Protocol 4.0.</p>
				</div>
			</div>
			
		</div>
	</div>
</section>


<section class="page-section twitt-section">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<i class="fa fa-twitter"></i>
				<h2>Recent Tweets</h2>
				<p>Find us: @BBsrdfhsdjk</p>
				
			</div>
			<div class="col-md-7">
				<p>Lorem ipsum dolor sit amet, Maecenas viverra semper arcu, vitae blandit nibh lobortis a. Mauris in eros et justo accumsan  </div>
			</div>

		</div>
	</div>
</section>

