<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Accredited Speaker Program</h2>
			</div>
		</div>
	</div>
</section>

<section class="page-section page-background padd-v-60">
	<div class="container">
		<div class="row">
			 <div class="col-md-12">
				<div class="panel-group accordion" id="accordion1">
					<div class="panel panel-default accordion-section">
					  <div class="panel-heading head">
						<h4 class="panel-title title">
						  <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" class="collapsed">
							How does the program work?
							<i class="fa fa-angle-up pull-right"></i>
						  </a>
						</h4>
					  </div>
					  <div id="collapse1" class="panel-collapse collapse">
						<div class="panel-body content">
							<div class="clearfix m-b-10">
								<h4>Level 1</h4>
								<p>Applications are reviewed for completeness, and video submissions from accepted applicants are reviewed by a panel of judges. An applicant who a majority of judges agree demonstrates high-caliber presentation skills is advanced to the next level.</p>
							</div>
							<div class="clearfix">
								<h4>Level 2</h4>
								<p>Applicants who pass Level 1 are invited to present before a live audience, including a panel of judges, at the International Convention held in August each year. Applicants whose live presentations meet the required level of professionalism (as agreed upon by a majority of judges) are awarded the prestigious Accredited Speaker designation.</p>
							</div>
						</div>
					  </div>
					</div>
				</div>
				<div class="panel-group accordion" id="accordion2">
					<div class="panel panel-default accordion-section">
					  <div class="panel-heading head">
						<h4 class="panel-title title">
						  <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2" class="collapsed">
							Who is eligible to apply?
							<i class="fa fa-angle-up pull-right"></i>
						  </a>
						</h4>
					  </div>
					  <div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body content">
						  <p>A potential applicant must meet the following requirements before applying:</p>
							<ul>
								<li>Be a current Toastmasters member in good standing</li>
								<li>Have earned one of the following education awards, or higher (Able Toastmaster, Advanced Toastmaster Bronze or Advanced Communicator Bronze)</li>
								<li>Have given a minimum of 25 speaking engagements to non-Toastmasters audiences within the past three years</li>
							</ul>
							<p>Please note that international officers or directors, candidates for international officer or director, region advisors and applicants for region advisor are not eligible to participate in the Accredited Speaker Program.</p>
						</div>
					  </div>
					</div>
				</div>
				<div class="panel-group accordion" id="accordion3">
					<div class="panel panel-default accordion-section">
					  <div class="panel-heading head">
						<h4 class="panel-title title">
						  <a data-toggle="collapse" data-parent="#accordion3" href="#collapse3" class="collapsed">
							How do I apply?
							<i class="fa fa-angle-up pull-right"></i>
						  </a>
						</h4>
					  </div>
					  <div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body content">
						  <p>Applicants must send the following to World Headquarters between January 1st and February 1st each year:</p>
							<ul>
								<li>A completed application form, plus a complete list of 25 speaking engagements to non-Toastmasters audiences with in past three years from application date. Requirements: 1) 15 of the 25 must be paid speaking engagements; 2) A minimum of 20 people must be in attendance at each speaking engagement; 3) Presentations must be a minimum of 20 minutes in length</li>
								<li>Five recommendations from five different clients for paid engagements. (The official Accredited Speaker Program Recommendation Form must be used.)</li>
								<li>Provide a link to a video presentation. Requirements: 1) The presentation must be 20- to 45-minutes in length; 2) The presentation must be spoken in English; 3) The presentation must be filmed before a live, non-Toastmasters audience.</li>
								<li>Submit a non-refundable Level 1 application fee of 100</li>
							</ul>
						</div>
					  </div>
					</div>
				</div>
				<div class="panel-group accordion" id="accordion4">
					<div class="panel panel-default accordion-section">
					  <div class="panel-heading head">
						<h4 class="panel-title title">
						  <a data-toggle="collapse" data-parent="#accordion4" href="#collapse4" class="collapsed">
							How much is the application fee?
							<i class="fa fa-angle-up pull-right"></i>
						  </a>
						</h4>
					  </div>
					  <div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body content">
						   <p>A non-refundable Level 1 application fee is 100.</p>

							<p>If an applicant is advanced to Level 2, there is an additional, non-refundable 150 fee. </p>

							<p>Applicants who fail to pass Level 2 may reapply and present again at the International Convention. Repeat Level 2 applicants need not submit another recorded presentation but must submit an additional 150 non-refundable fee for each attempt. The number of times a candidate may try to pass Level 2 is limited to three, after which the applicant must re-apply at Level 1.</p>
						</div>
					  </div>
					</div>
				</div>
				<div class="panel-group accordion" id="accordion5">
					<div class="panel panel-default accordion-section">
					  <div class="panel-heading head">
						<h4 class="panel-title title">
						  <a data-toggle="collapse" data-parent="#accordion5" href="#collapse5" class="collapsed">
							Where do I submit my application and application fee?
							<i class="fa fa-angle-up pull-right"></i>
						  </a>
						</h4>
					  </div>
					  <div id="collapse5" class="panel-collapse collapse">
						<div class="panel-body content">
						  Applications may be submitted to <a href="">accreditedspeakerprogram@toastmasters.org</a> or mailed with the application fee to: Accredited Speaker Program, Toastmasters International, PO Box 9052, Mission Viejo, CA 92690. Please make check payable to Toastmasters International.
						</div>
					  </div>
					</div>
				</div>
				<div class="panel-group accordion" id="accordion6">
					<div class="panel panel-default accordion-section">
					  <div class="panel-heading head">
						<h4 class="panel-title title">
						  <a data-toggle="collapse" data-parent="#accordion6" href="#collapse6" class="collapsed">
							What is an acceptable video presentation?
							<i class="fa fa-angle-up pull-right"></i>
						  </a>
						</h4>
					  </div>
					  <div id="collapse6" class="panel-collapse collapse">
						<div class="panel-body content">
						  <h4>Acceptable audio presentations must:</h4>
							<ul>
								<li>Be 20- to 45-minutes in length (not including introduction)</li>
								<li>Be spoken in English</li>
								<li>Be recorded before a live, non-Toastmasters audience</li>
								<li>Not be edited or dubbed</li>
							</ul>
						</div>
					  </div>
					</div>
				</div>
				<div class="panel-group accordion" id="accordion7">
					<div class="panel panel-default accordion-section">
					  <div class="panel-heading head">
						<h4 class="panel-title title">
						  <a data-toggle="collapse" data-parent="#accordion7" href="#collapse7" class="collapsed">
							What kind of presentations do applicants give?
							<i class="fa fa-angle-up pull-right"></i>
						  </a>
						</h4>
					  </div>
					  <div id="collapse7" class="panel-collapse collapse">
						<div class="panel-body content">
							<a href="">Can any of the speaking engagements be in another language besides English?</a>
							<p>Yes. However, the video that is submitted to World Headquarters will need to be in English.</p>
						</div>
					  </div>
					</div>
				</div>
				<div class="panel-group accordion" id="accordion8">
					<div class="panel panel-default accordion-section">
					  <div class="panel-heading head">
						<h4 class="panel-title title">
						  <a data-toggle="collapse" data-parent="#accordion8" href="#collapse8" class="collapsed">
							Can any of the speaking engagements be in another language besides English?
							<i class="fa fa-angle-up pull-right"></i>
						  </a>
						</h4>
					  </div>
					  <div id="collapse8" class="panel-collapse collapse">
						<div class="panel-body content">
						  Yes. However, the video that is submitted to World Headquarters will need to be in English.
						</div>
					  </div>
					</div>
				</div>
			  
			</div>
		
			
		</div>
	</div>
</section>


<section class="page-section twitt-section">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<i class="fa fa-twitter"></i>
				<h2>Recent Tweets</h2>
				<p>Find us: @BBsrdfhsdjk</p>
				
			</div>
			<div class="col-md-7">
				<p>Lorem ipsum dolor sit amet, Maecenas viverra semper arcu, vitae blandit nibh lobortis a. Mauris in eros et justo accumsan  </div>
			</div>

		</div>
	</div>
</section>

