<div class="pageheader" ng-init="getExpenses()">
  <div class="clearfix" >
    <h2 class="pull-left"><i class="fa fa-home"></i>Expenses <span>Subtitle goes here...</span></h2>
    <button class="btn btn-primary pull-right" ng-click="expenseModal()">Add New</button>
  </div>
</div>
<div class="contentpanel">
      
	  
	  <div class="panel panel-default">
	  	<div class="row">
	      <div class="col-lg-12 m-t-10">
	        <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">
	          {{alert.msg}}
	         </div>
	      </div>
	    </div>
        <div class="panel-heading">
			<div class="row">
				<div class="col-sm-6">
				 <div class="btn-group mr5">
					<button type="button" class="btn btn-white">All Expences</button>
					<button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
					  <span class="caret"></span>
					  <span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
					  <li><a href="#">Action</a></li>
					  <li><a href="#">Another action</a></li>
					  <li><a href="#">Something else here</a></li>
					  <li class="divider"></li>
					  <li><a href="#">Separated link</a></li>
					</ul>
				  </div>
				</div>
				<div class="col-sm-6">
					 <div class="btn-group pull-right">
						<button type="button" class="btn btn-white">From to Date</button>
						<button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
						  <span class="caret"></span>
						  <span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
						  <li><a href="#">12-03-2017</a></li>
						  <li><a href="#">18-04-2017</a></li>
						  <li><a href="#">12-05-2017</a></li>
						  <li><a href="#">10-06-2017</a></li>
						</ul>
					  </div>
				</div>
			</div>
        </div>
        <div class="panel-body panel-body-nopadding">
			<table class="table">
				<thead> 
				  	<tr class="text-u-c"> 
					  <th>Sl No</th>  
					  <th>Date</th> 
					  <th>Description</th>  
					  <th>Price</th>  
				  	</tr> 
				</thead> 
	  			<tbody> 
				  	<tr ng-repeat="ex in expenseList"> 
					  <td>{{$index+1}}</td> 
					  <td>{{ex.date | dateformat}}</td> 
					  <td>{{ex.description}}</td> 
					  <td>${{ex.amount}}</td> 
				  	</tr> 
	  			</tbody> 
	  		</table>
        </div>
    </div>
</div>