<div class="pageheader">
  <h2><i class="fa fa-home"></i> Meeting Details <span>Subtitle goes here...</span></h2>
</div>
<div class="contentpanel" ng-init="loadMeetingDetails()">
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      <!-- <div class="panel-btns right">
          <button class="btn btn-danger" ng-click="videoModal()">Share Video</button>
          <button class="btn btn-default" ng-click="imageModal()">Upload photos</button>
      </div> -->
      <h4 class="panel-title">Details</h4>
      </div>
      <div class="panel-body">

      <form class="form-horizontal form-bordered">
        <div class="form-group">
          <label class="col-sm-3 text-right">Title :</label>
          <div class="col-sm-6">
          {{meetingDetails.topic}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right">When :</label>
          <div class="col-sm-6">
          {{meetingDetails.scheduleDate}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 text-right">Description :</label>
          <div class="col-sm-6">{{meetingDetails.description}}</div>
        </div>
        <hr/>
      </form>
        <div class="row">
        <div class="col-md-12">
          <h3>Member Role</h3>
        </div>
        <div class="col-md-4" ng-repeat="role in meetingDetails.Role">
          <div class="people-item mr-box">
            <div class="media">
              <div class="media-body">
              <div class="clearfix">
                <h4 class="person-name pull-left m-t-5">{{role.roleName}}</h4>
                <button ng-if="role.showButton" class="btn btn-sm btn-primary pull-right" ng-click="grabRole(role.roleId)">Grab</button>
                <button ng-if="!role.showButton" class="btn btn-sm btn-danger pull-right" ng-click="cancelRole(role.roleId)">Cancel</button>
              </div>
                <div class="clearfix m-t-10">
                    <span class="badge" ng-repeat="user in role.userDetails">{{user.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 m-t-10">
            <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">
              {{alert.msg}}
            </div>
        </div>
    </div>
  </div>
</div>
</div>
