<div class="modal-header">
    <h3 class="modal-title">Add Video Link</h3>
</div>
<form class="" name="videofrm">
<div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Title</label>
              <input type="text" name="title" class="form-control" placeholder="Title" ng-model="video.title" required>
              <span class="color-red" ng-show="videofrm.title.$touched && videofrm.title.$invalid">Please Enter Video Title</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>URL</label>
              <input type="text" name="url" class="form-control" placeholder="URL" ng-model="video.linkURL" required ng-blur="convertVideo()">
              <span class="color-red" ng-show="videofrm.url.$touched && videofrm.url.$invalid">Please Enter Video Link</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" name="desc" rows="3" placeholder="Comments" ng-model="video.description" required></textarea>
              <span class="color-red" ng-show="videofrm.desc.$touched && videofrm.desc.$invalid">Please Enter Video Description</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <iframe width="100%" height="240" ng-src="{{youtubeURL}}" frameborder="0" allowfullscreen="" ng-if="youtubeURL != ''"></iframe>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-12 m-t-10">
        <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">
          {{alert.msg}}
         </div>
      </div>
    </div> -->
</div>
<div class="modal-footer">
    <button ng-disabled="videofrm.$invalid" class="btn btn-primary" type="button" ng-click="addVideo()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>
