<section>
  <div class="leftpanel">
    <div class="logopanel">
        <a href="" ui-sref="home"><h1><span>[</span> Toastmaster <span>]</span></h1></a>
    </div>
    <div class="leftpanelinner">
      <ul class="nav nav-pills nav-stacked nav-bracket">
        <li><a ng-class="{'active':stateName == 'admin.dashboard'}" href="" ui-sref="admin.dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        <li ng-if="loggedIn_user.joinType == '1'"><a href="" ng-class="{'active':stateName == 'admin.club-list' || stateName == 'admin.club'}" ui-sref="admin.club-list"><i class="fa fa-cc-mastercard"></i> <span>Club List</span></a></li>
        <li ng-if="loggedIn_user.joinType == '1'"><a href="" ng-class="{'active':stateName == 'admin.approval-request'}" ui-sref="admin.approval-request"><i class="fa fa-cc-mastercard"></i> <span>Approval Request</span></a></li>
        <li ng-if="loggedIn_user.joinType == '2'"><a href="" ng-class="{'active':stateName == 'admin.member-approval'}" ui-sref="admin.member-approval"><i class="fa fa-cc-mastercard"></i> <span>Approval Request</span></a></li>
        <li ng-if="loggedIn_user.joinType == '2'"><a href="" ng-class="{'active':stateName == 'admin.member-list' || stateName == 'admin.member'}" ui-sref="admin.member-list"><i class="fa fa-user"></i> <span>User List</span></a></li>
        <li ng-if="loggedIn_user.joinType == '2'"><a href="#"><i class="fa fa-cc-mastercard"></i> <span>Payment Collection</span></a></li>
        <li ng-if="loggedIn_user.joinType == '2'"><a href="#"><i class="fa fa-vcard-o"></i> <span>Expences</span></a></li>
        <li ng-if="loggedIn_user.joinType == '2'"><a href="" ng-class="{'active':stateName == 'admin.create-meeting' || stateName == 'admin.meeting-list' || stateName == 'admin.meeting-details'}" ui-sref="admin.meeting-list"><i class="fa fa-laptop"></i> <span> Meeting List </span></a></li>
        <li ng-if="loggedIn_user.joinType == '2'"><a href="#"><i class="fa fa-sticky-note-o"></i> <span>Blog </span></a></li>

        <!-- user type login -->
        <li ng-if="loggedIn_user.joinType == '3'"><a href="#"><i class="fa fa-cc-mastercard"></i> <span>Payment Collection</span></a></li>
        <li ng-if="loggedIn_user.joinType == '3'"><a href="" ng-class="{'active':stateName == 'admin.create-meeting' || stateName == 'admin.meeting-list' || stateName == 'admin.meeting-details'}" ui-sref="admin.meeting-list"><i class="fa fa-laptop"></i> <span> Meeting List </span></a></li>
      </ul>
    </div>
  </div>
  <div class="mainpanel">
    <div class="headerbar">
      <a class="menutoggle" ng-click="navigateMenu()"><i class="fa fa-bars"></i></a>
      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <img ng-src="{{loggedIn_user.photo}}" alt="" />
                {{loggedIn_user.fName+' '+loggedIn_user.lName}}
                <span class="caret"></span>
              </button>
               <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="" ui-sref="admin.myProfile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                <li><a href="" ui-sref="admin.reset-password"><i class="glyphicon glyphicon-question-sign"></i>Change Password</a></li>
                <li><a href="" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div ui-view></div>
  </div>
</section>
