<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Find Club</h2>
			</div>
		</div>
	</div>
</section>

<section class="page-section padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="location-details">
					<h4>Search your Location</h4>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Choose Starting Point">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Choose Destination">
					</div>
					<div class="text-right">
						<a href="" class="btn btn-blue btn-sm">Search</a>
					</div>
					<hr/>
					<ul>
						<li><i class="fa fa-check"></i>Restricted eligibility criteria exist</li>
						<li><i class="fa fa-check"></i>Advanced Toastmaster Club</li>
					</ul>
				</div>
			</div>
			<div class="col-md-8">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14969.21271310986!2d85.84350465!3d20.287714299999998!3m2!1i1024!2i768!4f13.1!4m3!3e4!4m0!4m0!5e0!3m2!1sen!2sin!4v1489157827519" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			
		</div>
	</div>
</section>


<section class="page-section twitt-section">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<i class="fa fa-twitter"></i>
				<h2>Recent Tweets</h2>
				<p>Find us: @BBsrdfhsdjk</p>
				
			</div>
			<div class="col-md-7">
				<p>Lorem ipsum dolor sit amet, Maecenas viverra semper arcu, vitae blandit nibh lobortis a. Mauris in eros et justo accumsan  </div>
			</div>

		</div>
	</div>
</section>
