<section class="top_header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-pills headermenu">
				<li><a href="" ui-sref="club-registration">Start a Club</a></li>
					<li class="hidden-xs"><a href="" ui-sref="find-club">Find a Club</a></li>
					<li class="hidden-xs"><a href="" ui-sref="need-help">Need Help</a></li>
					<li ng-if="!signedView"><a href="" ui-sref="login">Login</a></li>
					<li ng-if="signedView">
						<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<img ng-src="{{loggedIn_user.photo}}" alt="">
								{{loggedIn_user.fName+' '+loggedIn_user.lName}}
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu dropdown-menu-usermenu">
							<li><a href="" ui-sref="admin.myProfile"><i class="fa fa-user"></i> My Profile</a></li>
							<li><a href="#"><i class="fa fa-cog"></i> Account Settings</a></li>
							<li><a href="#"><i class="fa fa-info-circle"></i> Help</a></li>
							<li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Log Out</a></li>
						  </ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<nav class="navbar navbar-default navbar-static-top fluid_header">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navigation" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="main_navigation">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Membership</a></li>
				<li><a href="#">Resources</a></li>
				<li><a href="#">Magazine</a></li>
				<li><a href="#">Events</a></li>
				<li class="dropdown"><a href="#">Leadership Central</a>
					<ul class="dropdown-menu">
						<li><a href="">Dropdown-1</a></li>
						<li><a href="">Dropdown-2</a></li>
						<li><a href="">Dropdown-3</a></li>
						<li><a href="">Dropdown-4</a></li>
					</ul>
				</li>
				<li><a href="#">My Toastmasters</a></li>
			</ul>

		</div>
	</div>
</nav>
