<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Member Registration</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section page-background padd-v-60" ng-init="getCountryList();">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="reg-page" name="reg_from">
					<div class="reg-header">
						<h2>Join as a member</h2>
						<p>Yes! I would like to be join as a member in your club</p>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label>First Name <span class="color-red">*</span></label>
								<input type="text" class="form-control b-a h-40" name="firstName" ng-model="club.fName" placeholder="First Name" required>
								<span class="color-red" ng-if="reg_from.firstName.$touched && reg_from.firstName.$error.required">First name should not be blank</span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Last Name <span class="color-red">*</span></label>
								<input type="text" class="form-control" name="lastName" ng-model="club.lName" placeholder="Last Name" required>
								<span class="color-red" ng-if="reg_from.lastName.$touched && reg_from.lastName.$error.required">Last name should not be blank</span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Email Address <span class="color-red">*</span></label>
								<input type="text" class="form-control" name="email" ng-model="club.email" placeholder="Email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
								<span class="color-red" ng-show="reg_from.email.$touched && reg_from.email.$error.required">Please enter email</span>
								<span class="color-red" ng-show="reg_from.email.$touched && reg_from.email.$error.pattern">Please enter valid email</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label>Mobile</label>
								<input type="text" class="form-control" name="mobile" placeholder="Mobile" ng-model="club.phone">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Street Address</label>
								<input type="text" class="form-control" placeholder="Street Address" ng-model="club.address">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>City <span class="color-red">*</span></label>
								<input type="text" name="cityName" class="form-control" placeholder="City" ng-model="club.cityName" required>
								<span class="color-red" ng-show="reg_from.cityName.$touched && reg_from.cityName.$invalid">Please enter city name</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label>State <span class="color-red">*</span></label>
								<input type="text" class="form-control" name="state" placeholder="State" ng-model="club.state" required>
								<span class="color-red" ng-show="reg_from.state.$touched && reg_from.state.$invalid">Please enter state name</span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Country <span class="color-red">*</span></label>
								<select class="form-control" name="" ng-model="club.country">
									<option value="">Select Country</option>
									<option value="{{co.id}}" ng-repeat="co in countryList">{{co.name}}</option>
								</select>
								<!-- <input type="text" name="country" class="" placeholder="Country"  required>
								<span class="color-red" ng-show="reg_from.country.$touched && reg_from.country.$invalid">Please enter country name</span> -->
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Zip Code <span class="color-red">*</span></label>
								<input type="text" name="pin" class="form-control" placeholder="Zip Code" ng-model="club.pin" required>
								<span class="color-red" ng-show="reg_from.pin.$touched && reg_from.pin.$invalid">Please enter zip code</span>
							</div>
						</div>
					</div>
          <div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label>Club<span class="color-red">*</span></label>
								<input type="text" name="clubcode" class="form-control" placeholder="Club Code" ng-model="club.clubCode" readonly>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Password <span class="color-red">*</span></label>
								<input type="password" name="password" class="form-control" placeholder="Password" ng-model="club.pwd" required>
								<span class="color-red" ng-show="reg_from.password.$touched && reg_from.password.$invalid">Please create a password</span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Confirm Password <span class="color-red">*</span></label>
								<input type="password" name="cpass" class="form-control" placeholder="Confirm Password" ng-model="clubhh.cpass" required ng-blur="validatePassword(club.pwd,clubhh.cpass)">
								<span class="color-red" ng-show="reg_from.password.$touched && reg_from.password.$invalid">Password didn't match</span>
								<span class="color-red" ng-if="resetFrm.cnfmPwd.$touched && showPasswordMisMatch">Password not matched</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label style="display:block">Will the Club have a Sponsoring Organization?</label>
								<div class="radio radio-black">
										<div class="pull-left">
											<input type="radio" value="one" name="optionyes" id="one">
											<label for="one">Yes</label>
										</div>
										<div class="inline">
											<input type="radio" checked="checked" value="two" name="optionyes" id="two">
											<label for="two">No</label>
										</div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Company Name</label>
								<input type="text" name="companyName" placeholder="Company Name" ng-model="club.sponsoringCompanyName" class="form-control">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label>Company Web Site/URL</label>
								<input type="text" name="companyURL" class="form-control" placeholder="Company web site" ng-model="club.sponsoringCompanyURL">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>About Me</label>
						<textarea class="form-control" name="comments" rows="3" placeholder="About Me" ng-model="club.about"></textarea>
					</div>
          <hr>
					<div class="row">
						<div class="col-lg-6">
							<div class="checkbox check-primary">
								<input type="checkbox" id="checkbox1" required ng-model="obj.term_condition">
								<label for="checkbox1">I read <a href="" class="color-green">Terms and Conditions</a></label>
							</div>
						</div>
						<div class="col-lg-6 text-right">
							<button class="btn btn-blue" ng-disabled="reg_from.$invalid" type="submit" ng-click="clubRegister(3)">Register</button>
						</div>
						<div class="col-sm-12">
							<!-- <section  align="center">
									<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
							</section> -->
							<div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">
								{{alert.msg}}
							 </div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
