<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toastmaster</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/head-style.css">
  	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
<section class="top_header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-pills">
					<li><a href="#">Start a Club</a></li>
					<li><a href="#">Find a CLub</a></li>
					<li><a href="#">Need Help</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Register</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<nav class="navbar navbar-default navbar-static-top fluid_header">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html"><img class="hidden-xs" src="images/logo.png" alt=""></a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navigation" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="main_navigation">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Membership</a></li>
				<li><a href="#">Resources</a></li>
				<li><a href="#">Magazine</a></li>
				<li><a href="#">Events</a></li>
				<li class="dropdown"><a href="#">Leadership Central</a>
					<ul class="dropdown-menu">
						<li><a href="">Dropdown-1</a></li>
						<li><a href="">Dropdown-2</a></li>
						<li><a href="">Dropdown-3</a></li>
						<li><a href="">Dropdown-4</a></li>
					</ul>
				</li>
				<li><a href="#">My Toastmasters</a></li>
			</ul>
			                                   
		</div>
	</div>
</nav>


<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Login</h2>
			</div>
		</div>
	</div>
</section>

<section class="page-section page-background padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="profile-details-wrap">
					<h3>Proffessional Details</h3>
					<img src="images/member-1.jpg" />
					<div class="profile-info">
						<table class="table"> 
							<tbody> 
								<tr> 
									<th scope="row">Name</th> 
									<td>John Doe</td>
								</tr> 
								<tr> 
									<th scope="row">Email</th> 
									<td>Jacob</td> 
								</tr>
								<tr> 
									<th scope="row">Age</th> 
									<td>38 Years</td> 
								</tr>
								<tr> 
									<th scope="row">Loacation</th> 
									<td>Rome Italy</td> 
								</tr>
								<tr> 
									<th scope="row">Degree</th> 
									<td>MBA</td> 
								</tr>
								<tr> 
									<th scope="row">CAreer Lavel</th> 
									<td>Mid Lavel</td> 
								</tr>
								<tr> 
									<th scope="row">Phone</th> 
									<td>(800) 123-456-789</td> 
								</tr>
								<tr> 
									<th scope="row">FAX</th> 
									<td>(800) 123-456-789</td> 
								</tr>
								<tr> 
									<th scope="row">Website</th> 
									<td><a href="">www.website.com</a></td> 
								</tr>
							</tbody> 
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="profile-description">
					<div class="clearfix">
						<h3>About US</h3>
						<hr/>
						<p>I joined Toastmasters because my older brother Johnny inspired me to join. After he started going to Toastmasters meetings, I noticed how confident and poised he became in our conversations together.</p>
						<p>Since joining Toastmasters, I have grown more comfortable in speaking situations, whether it’s in conversations with one person or as part of a group. I take control of my words and have a built-in awareness of filler words to avoid, as well as a stronger vocabulary. As a leader, I am more assertive because I am brave enough to speak candidly and justify my actions articulately.</p>
						<p>My club is all about personal growth. We have members of all backgrounds, ages and years of experience. Each member exudes a positive outlook and the ambitious desire to improve, both of which are conducive to the development of each member in the club. However, my favorite thing is how the sign-up sheet for club roles is always full months in advance. It’s a great "problem" to have.</p>
					</div>
					<div class="clearfix m-t-30">
						<h3>Journey Highlights:</h3>
						<hr/>
						<p class="testim">“Toastmasters accepts you for who you are, and helps <br/>you become whatever you aspire to be.”</p>
						<ul>
							<li><i class="fa fa-check"></i> Serves as vice president membership</li>
							<li><i class="fa fa-check"></i> Works to promote and grow his club</li>
							<li><i class="fa fa-check"></i> Keeps members engaged by organizing “happy hours” and other social events</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="container m-t-80">
		<div class="row m-b-20">
			<div class="col-md-12">
				<h2>Other Member Stories</h2>
				<div class="blue-line"></div>
			</div>
		</div>
		<div class="row team-v6">
			<div class="col-md-3 col-sm-6">
				<div class="white-block">
					<img class="img-responsive" src="images/img6-md.jpg" alt="">
					<span>Sara Lisbon</span>
					<small>Marketing</small>
					<ul class="list-inline social-icons-v1">
						<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="white-block">
					<img class="img-responsive" src="images/img2-md.jpg" alt="">
					<span>John Doe</span>
					<small>Support</small>
					<ul class="list-inline social-icons-v1">
						<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="white-block">
					<img class="img-responsive" src="images/img2-md.jpg" alt="">
					<span>John Doe</span>
					<small>Support</small>
					<ul class="list-inline social-icons-v1">
						<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="white-block">
					<img class="img-responsive" src="images/img2-md.jpg" alt="">
					<span>John Doe</span>
					<small>Support</small>
					<ul class="list-inline social-icons-v1">
						<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="page-section twitt-section">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<i class="fa fa-twitter"></i>
				<h2>Recent Tweets</h2>
				<p>Find us: @BBsrdfhsdjk</p>
				
			</div>
			<div class="col-md-7">
				<p>Lorem ipsum dolor sit amet, Maecenas viverra semper arcu, vitae blandit nibh lobortis a. Mauris in eros et justo accumsan  </div>
			</div>

		</div>
	</div>
</section>
<footer class="footer-section padd-t-60">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="ftr-block-list">
					<h4>About us</h4>
					<ul>
						<li><a href="">latest News </a></li>
						<li><a href="">Player Room</a></li>
						<li><a href="">Careers</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">FAQ</a></li>
						<li><a href="">Blog</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-2">
				<div class="ftr-block-list">
					<h4>Information</h4>
					<ul>
						<li><a href="">Table of Contents</a></li>
						<li><a href="">article</a></li>
						<li><a href="">Colmn</a></li>
						<li><a href="">Quick Takes</a></li>
						<li><a href="">Toast Master</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-2">
				<div class="ftr-block-list">
					<h4>Support</h4>
					<ul>
						<li><a href="">Term & Conditions </a></li>
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">Sitemap</a></li>
						<li><a href="">FAQ's</a></li>
						<li><a href="">Account</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-2">
				<div class="ftr-block-list">
					<h4>Support</h4>
					<ul>
						<li><a href="">Term & Conditions </a></li>
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">Sitemap</a></li>
						<li><a href="">FAQ's</a></li>
						<li><a href="">Account</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<img src="images/ftr-logo.png" alt="">
				<h4>WHERE LEADERS ARE MADE</h4>
			</div>

		</div>
	</div>
		<div class="ftr-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					© 2016 Toastmasters International.  All rights reserved.
				</div>
			</div>
		</div>
	</div>

</footer>









<!--jQuery-->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/theme.js"></script>


</body>
</html>
