<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Toastmaster</h2>
			</div>
		</div>
	</div>
</section>

<section class="page-section page-background padd-v-60">
	<div class="container">
		<div class="row m-b-20">
			<div class="col-md-12">
				<h2>Club Head</h2>
				<p>Learn about these life-changing member experiences and watch these related videos to help you get started on your journey.</p>
			</div>
		</div>
		<div class="row team-v6">
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img6-md.jpg" alt="">
						<span>Sara Lisbon</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img2-md.jpg" alt="">
						<span>John Doe</span>
						<small>Support</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img4-md.jpg" alt="">
						<span>Sara Lisbon</span>
						<small>Community</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img1-md.jpg" alt="">
						<span>Alice Williams</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
	</div>
</section>
<section class="page-section padd-v-60">
	<div class="container">
		<div class="row m-b-20">
			<div class="col-md-12">
				<h2>Club Member</h2>
				<p>Learn about these life-changing member experiences and watch these related videos to help you get started on your journey.</p>
			</div>
		</div>
		<div class="row team-v6">
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img6-md.jpg" alt="">
						<span>Sara Lisbon</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img2-md.jpg" alt="">
						<span>John Doe</span>
						<small>Support</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img4-md.jpg" alt="">
						<span>Sara Lisbon</span>
						<small>Community</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img1-md.jpg" alt="">
						<span>Alice Williams</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img1-md.jpg" alt="">
						<span>Alice Williams</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img1-md.jpg" alt="">
						<span>Alice Williams</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img1-md.jpg" alt="">
						<span>Alice Williams</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img1-md.jpg" alt="">
						<span>Alice Williams</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<nav aria-label="Page navigation">
			  <ul class="pagination custom-pagination">
				<li>
				  <a href="#" aria-label="first">
					<span aria-hidden="true">First</span>
				  </a>
				</li>
				<li>
				  <a href="#" aria-label="Previous">
					<span aria-hidden="true">Previous</span>
				  </a>
				</li>
				<li><a href="#">1</a></li>
				<li><a class="active" href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
				  <a href="#" aria-label="Next">
					<span aria-hidden="true">Next</span>
				  </a>
				</li>
				<li>
				  <a href="#" aria-label="last">
					<span aria-hidden="true">Last</span>
				  </a>
				</li>
			  </ul>
			</nav>
	</div>
</section>

