<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Register</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="login-cardbox">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>First Name</label>
								<input type="text" class="form-control" id="" placeholder="First Name">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Last Name</label>
								<input type="text" class="form-control" id="" placeholder="Last Name">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" id="" placeholder="Email">
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Password</label>
								<input type="password" class="form-control" id="" placeholder="Password">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Confirm Password</label>
								<input type="password" class="form-control" id="" placeholder="Password">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Phone</label>
								<input type="text" class="form-control" id="" placeholder="Phone">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>City</label>
								<input type="text" class="form-control" id="" placeholder="city">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Questions</label>
						<select class="form-control">
						  <option value="">How did you hear about us</option>
						</select>
					</div>
					<div class="form-group text-right">
						<button class="btn btn-blue btn-md text-u-c m-r-5">Send <i class="fa fa-send-o"></i></button>
					</div>
					<div class="gray-line-sm"></div>
					<div class="clearfix">
						Already have an account?  <a class="text-u-l" href="">Login</a>
					</div>
				</div>
			</div>
			<div class="col-sm-2 hidden-xs">
				 <div id="orSeparator">
					<div id="socialSeparatorTop"></div>
					<div id="or">or</div>
					<div id="socialSeparatorBottom"></div>
				</div>
			</div>
			<div class="col-sm-4">
				<label class="m-b-20">You can signup with social media</label>
				<button type="button" class="btn-block social-icon facebook-bg text-left"><i class="fa fa-facebook"></i><span>Sign in with Facebook</span></button>
				<button type="button" class="btn-block social-icon twitter-bg text-left"><i class="fa fa-twitter"></i><span>Sign in with twitter</span></button>
				<button type="button" class="btn-block social-icon gplus-bg text-left"><i class="fa fa-google-plus"></i><span>Sign in with Facebook</span></button>
			</div>
		</div>
	</div>
</section>
