<section class="banner-section">
		<div class="banner-content">
			<div class="banner-text">
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<div class="banner-block">
								<h1>EVERY TOASTMASTER'S JOURNEY STARTS WITH A SINGLE SPEECH</h1>
								<p>Once you find your club, joining is easy. As a club member, you become part of a larger international organization that supports you every step of the way.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<section class="page-section home-sec1 padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2>Welcome to Our Club</h2>
				<div class="sub-content">Lorem ipsum dolor sit amet, Maecenas viverra semper arcu, vitae blandit nibh lobortis a. Mauris in eros et justo accumsan  </div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum nisi vitae mauris lacinia auctor. Maecenas cursus felis sed suscipit ornare. Praesent nec hendrerit est, non molestie urna. Vivamus vitae leo nec lacus venenatis convallis. Cras sit amet bibendum ipsum, eget commodo purus. Integer pulvinar maximus ipsum, vel sagittis justo condimentum vitae. Maecenas viverra semper arcu, vitae blandit nibh lobortis a. Mauris in eros et justo accumsan </p>
				<a class="btn btn-black btn-md m-t-20"> Find a Club</a>
			</div>
			<div class="col-md-5">
				<h2 class="m-b-20">Featured Post</h2>
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/AykYRO5d_lI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
<section class="page-section home-sec2 padd-v-60-40">
	<div class="container">
		<div class="row">
			<div class="col-md-12 m-b-20">
				<h2>MEMBER SPOTLIGHT</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
		<div class="row team-v6">
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img6-md.jpg" alt="">
						<span>Sara Lisbon</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img2-md.jpg" alt="">
						<span>John Doe</span>
						<small>Support</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img4-md.jpg" alt="">
						<span>Sara Lisbon</span>
						<small>Community</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="white-block">
						<img class="img-responsive" src="images/img1-md.jpg" alt="">
						<span>Alice Williams</span>
						<small>Marketing</small>
						<ul class="list-inline social-icons-v1">
							<li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
	</div>
</section>
<section class="page-section home-sec3 padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h2>TOOLS YOU CAN USE</h2>
				<p>Use these online resources to enhance your Toastmasters experience.</p>
				<ul>
					<li><i class="fa fa-check"></i>Public Speaking Tips</li>
					<li><i class="fa fa-check"></i>Video Library</li>
					<li><i class="fa fa-check"></i>Toastmaster Magazine</li>
					<li><i class="fa fa-check"></i>Club Experience</li>
					<li><i class="fa fa-check"></i>Education Program</li>
					<li><i class="fa fa-check"></i>Toastmasters Products</li>
					<li><i class="fa fa-check"></i>Education Program</li>
				</ul>
			</div>

		</div>
	</div>
</section>
